.option-field {
    padding: 3px;
    display: inline;
    background-color: white;
}

.field-title {
    margin-left: 5px;
    font-family: Helvetica;
    font-size: 14px;
}

.input-field {
    margin-left: 5px;
    width: 20px;
    height: 10px;
}