.option-button {
    background-color: white;
    border: none;
    margin-left: 10px;
    display: inline;
}

.option-button:hover {
    background-color: lightgrey;
}

.option-button:active {
    background-color: lightgreen;
}