.sub-menu {
    background-color: grey;
    margin-right: 5px;
    height: 90px;
    padding: 10px;
    display: inline-block;
}

.menu-title {
    font-family: Helvetica;
    font-size: 20px;
    position: relative;
}
