@font-face {
    font-family: "CustomFont";
    src: url(./fonts/Minesweeper1-Regular.ttf) format('truetype');
    src: url(./fonts/Minesweeper1-Regular.woff) format('woff');
    src: url(./fonts/Minesweeper1-Regular.otf) format('opentype');
}

@font-face {
    font-family: "FiraSans";
    src: url(./fonts/FiraSans-Medium.ttf) format('truetype')
}